<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<category label="32020">
		<setting label="32021" type="bool" id="sysupdate" default="true"/>
		<setting label="32022" type="bool" id="sysupdate_osupgrade" visible="eq(-1,true)" default="false"/>
		<setting label="32027" type="bool" id="sysupdate_osintegrity" visible="eq(-2,true)" default="false"/>
		<setting label="32101" type="enum" id="sysupdate_cycle" visible="eq(-3,true)" lvalues="32114|32115|32116|32117" default="1"/>
		<setting label="32104" type="number" id="sysupdate_interval" visible="eq(-4,true)" default="1"/>
		<setting label="32102" type="enum" id="sysupdate_day" visible="eq(-5,true) + eq(-2,0)" lvalues="32119|32120|32121|32122|32123|32124" default="0"/>
		<setting label="32103" type="time" id="sysupdate_time" visible="eq(-6,true) + lt(-3,2)" default="06:00"/>
		<setting type="sep"/>
		<setting label="32023" type="bool" id="libupdate" default="true"/>
		<setting label="32029" type="bool" id="libupdate_music" visible="eq(-1,true)" default="true"/>
		<setting label="32028" type="bool" id="libupdate_video" visible="eq(-2,true)" default="true"/>
		<setting label="32101" type="enum" id="libupdate_cycle" visible="eq(-3,true)" lvalues="32114|32115|32116|32117" default="1"/>
		<setting label="32104" type="number" id="libupdate_interval" visible="eq(-4,true)" default="1"/>
		<setting label="32102" type="enum" id="libupdate_day" visible="eq(-5,true) + eq(-2,0)" lvalues="32119|32120|32121|32122|32123|32124|32125" default="0"/>
		<setting label="32103" type="time" id="libupdate_time" visible="eq(-6,true) + lt(-3,2)" default="05:00"/>
		<setting type="sep"/>
		<setting label="32024" type="bool" id="libclean" default="true"/>
		<setting label="32031" type="bool" id="libclean_music" visible="eq(-1,true)" default="true"/>
		<setting label="32030" type="bool" id="libclean_video" visible="eq(-2,true)" default="true"/>
		<setting label="32101" type="enum" id="libclean_cycle" visible="eq(-3,true)" lvalues="32114|32115|32116|32117" default="1"/>
		<setting label="32104" type="number" id="libclean_interval" visible="eq(-4,true)" default="1"/>
		<setting label="32102" type="enum" id="libclean_day" visible="eq(-5,true) + eq(-2,0)" lvalues="32119|32120|32121|32122|32123|32124|32125" default="0"/>
		<setting label="32103" type="time" id="libclean_time" visible="eq(-6,true) + lt(-3,2)" default="04:30"/>
		<setting type="sep"/>
		<setting label="32025" type="bool" id="sysbackup" default="false" enable="System.HasAddon(program.recovery)"/>
		<setting label="32101" type="enum" id="sysbackup_cycle" visible="eq(-1,true)" lvalues="32114|32115|32116|32117" default="1"/>
		<setting label="32104" type="number" id="sysbackup_interval" visible="eq(-2,true)" default="1"/>
		<setting label="32102" type="enum" id="sysbackup_day" visible="eq(-3,true) + eq(-2,0)" lvalues="32119|32120|32121|32122|32123|32124|32125" default="0"/>
		<setting label="32103" type="time" id="sysbackup_time" visible="eq(-4,true) + lt(-3,2)" default="06:30"/>
	</category>
	<category label="32026">
		<setting label="32211" type="bool" id="custom1" default="false"/>
		<setting label="32105" type="text" id="custom1_script" visible="eq(-1,true)" default=""/>
		<setting label="32106" type="select" id="custom1_type" visible="eq(-2,true)" default="script" values="script|addon|plugin|command|process|json"/>
		<setting label="32101" type="enum" id="custom1_cycle" visible="eq(-3,true)" lvalues="32114|32115|32116|32117" default="1"/>
		<setting label="32104" type="number" id="custom1_interval" visible="eq(-4,true)" default="1"/>
		<setting label="32102" type="enum" id="custom1_day" visible="eq(-5,true) + eq(-2,0)" lvalues="32119|32120|32121|32122|32123|32124|32125" default="0"/>
		<setting label="32103" type="time" id="custom1_time" visible="eq(-6,true) + lt(-3,2)" default="00:00"/>
		<setting type="sep"/>
		<setting label="32212" type="bool" id="custom2" default="false"/>
		<setting label="32105" type="text" id="custom2_script" visible="eq(-1,true)" default=""/>
		<setting label="32106" type="select" id="custom2_type" visible="eq(-2,true)" default="script" values="script|addon|plugin|command|process|json"/>
		<setting label="32101" type="enum" id="custom2_cycle" visible="eq(-3,true)" lvalues="32114|32115|32116|32117" default="1"/>
		<setting label="32104" type="number" id="custom2_interval" visible="eq(-4,true)" default="1"/>
		<setting label="32102" type="enum" id="custom2_day" visible="eq(-5,true) + eq(-2,0)" lvalues="32119|32120|32121|32122|32123|32124|32125" default="0"/>
		<setting label="32103" type="time" id="custom2_time" visible="eq(-6,true) + lt(-3,2)" default="00:00"/>
		<setting type="sep"/>
		<setting label="32213" type="bool" id="custom3" default="false"/>
		<setting label="32105" type="text" id="custom3_script" visible="eq(-1,true)" default=""/>
		<setting label="32106" type="select" id="custom3_type" visible="eq(-2,true)" default="script" values="script|addon|plugin|command|process|json"/>
		<setting label="32101" type="enum" id="custom3_cycle" visible="eq(-3,true)" lvalues="32114|32115|32116|32117" default="1"/>
		<setting label="32104" type="number" id="custom3_interval" visible="eq(-4,true)" default="1"/>
		<setting label="32102" type="enum" id="custom3_day" visible="eq(-5,true) + eq(-2,0)" lvalues="32119|32120|32121|32122|32123|32124|32125" default="0"/>
		<setting label="32103" type="time" id="custom3_time" visible="eq(-6,true) + lt(-3,2)" default="00:00"/>
		<setting type="sep"/>
		<setting label="32214" type="bool" id="custom4" default="false"/>
		<setting label="32105" type="text" id="custom4_script" visible="eq(-1,true)" default=""/>
		<setting label="32106" type="select" id="custom4_type" visible="eq(-2,true)" default="script" values="script|addon|plugin|command|process|json"/>
		<setting label="32101" type="enum" id="custom4_cycle" visible="eq(-3,true)" lvalues="32114|32115|32116|32117" default="1"/>
		<setting label="32104" type="number" id="custom4_interval" visible="eq(-4,true)" default="1"/>
		<setting label="32102" type="enum" id="custom4_day" visible="eq(-5,true) + eq(-2,0)" lvalues="32119|32120|32121|32122|32123|32124|32125" default="0"/>
		<setting label="32103" type="time" id="custom4_time" visible="eq(-6,true) + lt(-3,2)" default="00:00"/>
		<setting type="sep"/>
		<setting label="32215" type="bool" id="custom5" default="false"/>
		<setting label="32105" type="text" id="custom5_script" visible="eq(-1,true)" default=""/>
		<setting label="32106" type="select" id="custom5_type" visible="eq(-2,true)" default="script" values="script|addon|plugin|command|process|json"/>
		<setting label="32101" type="enum" id="custom5_cycle" visible="eq(-3,true)" lvalues="32114|32115|32116|32117" default="1"/>
		<setting label="32104" type="number" id="custom5_interval" visible="eq(-4,true)" default="1"/>
		<setting label="32102" type="enum" id="custom5_day" visible="eq(-5,true) + eq(-2,0)" lvalues="32119|32120|32121|32122|32123|32124|32125" default="0"/>
		<setting label="32103" type="time" id="custom5_time" visible="eq(-6,true) + lt(-3,2)" default="00:00"/>
		<setting type="sep"/>
		<setting label="32216" type="bool" id="custom6" default="false"/>
		<setting label="32105" type="text" id="custom6_script" visible="eq(-1,true)" default=""/>
		<setting label="32106" type="select" id="custom1_type" visible="eq(-2,true)" default="script" values="script|addon|plugin|command|process|json"/>
		<setting label="32101" type="enum" id="custom6_cycle" visible="eq(-3,true)" lvalues="32114|32115|32116|32117" default="1"/>
		<setting label="32104" type="number" id="custom6_interval" visible="eq(-4,true)" default="1"/>
		<setting label="32102" type="enum" id="custom6_day" visible="eq(-5,true) + eq(-2,0)" lvalues="32119|32120|32121|32122|32123|32124|32125" default="0"/>
		<setting label="32103" type="time" id="custom6_time" visible="eq(-6,true) + lt(-3,2)" default="00:00"/>
		<setting type="sep"/>
		<setting label="32217" type="bool" id="custom7" default="false"/>
		<setting label="32105" type="text" id="custom7_script" visible="eq(-1,true)" default=""/>
		<setting label="32106" type="select" id="custom1_type" visible="eq(-2,true)" default="script" values="script|addon|plugin|command|process|json"/>
		<setting label="32101" type="enum" id="custom7_cycle" visible="eq(-3,true)" lvalues="32114|32115|32116|32117" default="1"/>
		<setting label="32104" type="number" id="custom7_interval" visible="eq(-4,true)" default="1"/>
		<setting label="32102" type="enum" id="custom7_day" visible="eq(-5,true) + eq(-2,0)" lvalues="32119|32120|32121|32122|32123|32124|32125" default="0"/>
		<setting label="32103" type="time" id="custom7_time" visible="eq(-6,true) + lt(-3,2)" default="00:00"/>
		<setting type="sep"/>
		<setting label="32218" type="bool" id="custom8" default="false"/>
		<setting label="32105" type="text" id="custom8_script" visible="eq(-1,true)" default=""/>
		<setting label="32106" type="select" id="custom1_type" visible="eq(-2,true)" default="script" values="script|addon|plugin|command|process|json"/>
		<setting label="32101" type="enum" id="custom8_cycle" visible="eq(-3,true)" lvalues="32114|32115|32116|32117" default="1"/>
		<setting label="32104" type="number" id="custom8_interval" visible="eq(-4,true)" default="1"/>
		<setting label="32102" type="enum" id="custom8_day" visible="eq(-5,true) + eq(-2,0)" lvalues="32119|32120|32121|32122|32123|32124|32125" default="0"/>
		<setting label="32103" type="time" id="custom8_time" visible="eq(-6,true) + lt(-3,2)" default="00:00"/>
		<setting type="sep"/>
		<setting label="32219" type="bool" id="custom9" default="false"/>
		<setting label="32105" type="text" id="custom9_script" visible="eq(-1,true)" default=""/>
		<setting label="32106" type="select" id="custom1_type" visible="eq(-2,true)" default="script" values="script|addon|plugin|command|process|json"/>
		<setting label="32101" type="enum" id="custom9_cycle" visible="eq(-3,true)" lvalues="32114|32115|32116|32117" default="1"/>
		<setting label="32104" type="number" id="custom9_interval" visible="eq(-4,true)" default="1"/>
		<setting label="32102" type="enum" id="custom9_day" visible="eq(-5,true) + eq(-2,0)" lvalues="32119|32120|32121|32122|32123|32124|32125" default="0"/>
		<setting label="32103" type="time" id="custom9_time" visible="eq(-6,true) + lt(-3,2)" default="00:00"/>
		<setting type="sep"/>
		<setting label="32220" type="bool" id="custom10" default="false"/>
		<setting label="32105" type="text" id="custom10_script" visible="eq(-1,true)" default=""/>
		<setting label="32106" type="select" id="custom1_type" visible="eq(-2,true)" default="script" values="script|addon|plugin|command|process|json"/>
		<setting label="32101" type="enum" id="custom10_cycle" visible="eq(-3,true)" lvalues="32114|32115|32116|32117" default="1"/>
		<setting label="32104" type="number" id="custom10_interval" visible="eq(-4,true)" default="1"/>
		<setting label="32102" type="enum" id="custom10_day" visible="eq(-5,true) + eq(-2,0)" lvalues="32119|32120|32121|32122|32123|32124|32125" default="0"/>
		<setting label="32103" type="time" id="custom10_time" visible="eq(-6,true) + lt(-3,2)" default="00:00"/>
	</category>
</settings>
